TGis.Viewer/Service References/TGisRemote/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TGis.RemoteContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TGis.RemoteContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9122/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:simpleType name="GisSessionReason">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Add" />
      <xs:enumeration value="Update" />
      <xs:enumeration value="Remove" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GisSessionReason" nillable="true" type="tns:GisSessionReason" />
  <xs:complexType name="ArrayOfGisCarInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GisCarInfo" nillable="true" type="tns:GisCarInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGisCarInfo" nillable="true" type="tns:ArrayOfGisCarInfo" />
  <xs:complexType name="GisCarInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PathId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GisCarInfo" nillable="true" type="tns:GisCarInfo" />
  <xs:complexType name="ArrayOfGisPathInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GisPathInfo" nillable="true" type="tns:GisPathInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGisPathInfo" nillable="true" type="tns:ArrayOfGisPathInfo" />
  <xs:complexType name="GisPathInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Points" nillable="true" type="q1:ArrayOfdouble" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GisPathInfo" nillable="true" type="tns:GisPathInfo" />
  <xs:complexType name="ArrayOfGisSessionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GisSessionInfo" nillable="true" type="tns:GisSessionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGisSessionInfo" nillable="true" type="tns:ArrayOfGisSessionInfo" />
  <xs:complexType name="GisSessionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alive" type="xs:boolean" />
      <xs:element minOccurs="0" name="CarId" type="xs:int" />
      <xs:element minOccurs="0" name="OutOfPath" type="xs:boolean" />
      <xs:element minOccurs="0" name="Reason" type="tns:GisSessionReason" />
      <xs:element minOccurs="0" name="RoolDirection" type="xs:boolean" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="X" type="xs:double" />
      <xs:element minOccurs="0" name="Y" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GisSessionInfo" nillable="true" type="tns:GisSessionInfo" />
</xs:schema>