TGis.Viewer/Service References/TGisRemote/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9122/?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/TGis.RemoteContract" />
  <xs:element name="GetVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVersionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newPass" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyPasswordResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentTime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCurrentTimeResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TGis.RemoteContract" minOccurs="0" name="GetCarInfoResult" nillable="true" type="q1:ArrayOfGisCarInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPathInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPathInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TGis.RemoteContract" minOccurs="0" name="GetPathInfoResult" nillable="true" type="q2:ArrayOfGisPathInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuerySessionInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tmStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="tmEnd" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuerySessionInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TGis.RemoteContract" minOccurs="0" name="QuerySessionInfoResult" nillable="true" type="q3:ArrayOfGisSessionInfo" />
        <xs:element minOccurs="0" name="tmCursor" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryEventInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tmStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="tmEnd" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryEventInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TGis.RemoteContract" minOccurs="0" name="QueryEventInfoResult" nillable="true" type="q4:ArrayOfGisEventInfo" />
        <xs:element minOccurs="0" name="bTobeContinue" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCarInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TGis.RemoteContract" minOccurs="0" name="info" nillable="true" type="q5:GisCarInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCarInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCarInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCarInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TGis.RemoteContract" minOccurs="0" name="info" nillable="true" type="q6:GisCarInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCarInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCarInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCarInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCarInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveCarInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPathInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TGis.RemoteContract" minOccurs="0" name="info" nillable="true" type="q7:GisPathInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPathInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPathInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePathInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TGis.RemoteContract" minOccurs="0" name="info" nillable="true" type="q8:GisPathInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePathInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePathInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePathInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePathInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemovePathInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>